<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag 'tiger.png', alt: 'The Pragmatic Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="/">Home</a></li>
          <li><%= link_to "products", products_path %></li>
          <li><%= link_to "carts", carts_path %></li>
          <li><%= link_to "line_item", line_items_path %></li>
        </ul>
      </div>
      <div id="main">
          <%= yield %>
        <div class="view">
          <div id="cart">
              <% if @cart %>
                <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                  <%= render @cart %>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
